
body
{background: #fff;color:#222;}


* {font-family: Verdana, Helvetica, sans-serif;
font-size: 12px; }

.zwykla td {background:#ddd; 
   border: 1px solid black;
   padding:5px;
}


.zielona td {background:#00dd00; 
   border: 1px solid black;
   padding:5px;
}

.zolta td {background:#ffff00; 
   border: 1px solid black;
   padding:5px;
}

.rozowa td {background:pink; 
   border: 1px solid black;
   padding:5px;
}



h1 {font-size:15px;}

#naglowek
{
 width: 1000px ;
 margin-top:20px;
  margin-left: auto ;
  margin-right: auto ;

}


#glowny
{
 width: 1000px ;
 margin-top:20px;
  margin-left: auto ;
  margin-right: auto ;

}


ul {
background-color: #B10000;
list-style-type: none;
height: 50px;
width: 950px;
padding:0px;
margin: auto;
text-align:center;
}

ul li {
float: left;

}

.fundusz {

}

.fundusz tr {
border-top-style: dotted;

}

td a

{

color:black;

}

td a:hover
{

color:red;

}


td a:visited
{

color:black;

}




ul a {
padding-right: 16px;
padding-left: 16px;
display: block;
line-height: 40px;
text-decoration: none;
font-family: Verdana, Helvetica, sans-serif;
font-size: 13px;
color: #ffffff;
}

ul a:hover {

background-color:#6D0101;

}

div.tabelka {
width:600px;
}

div.pole {
	height: 30px;
	width: 140px;
	padding:0px;
	margin: auto;
	float:left;
	text-align:center;

}

div.pole2 {
	height: 30px;
	width: 120px;
	padding:0px;
	margin: auto;
	float:left;
	text-align:center;

}

span.gr {
	font-size: 12px;
	color: green;
	font-weight:bold;
}

span.pogr {
	font-size: 12px;
	color: red;
}

label.zglos {
   width:100%;
   display: block;
   padding:5px 0 3px 0;
   display: block;
}

label.zglos span {
   display: block;
   font-family:'Lucida Grande',Verdana,Arial,sans-serif;
   font-size: 12.3px;
   font-weight:normal;
   float:left;
   width:350px;
   text-align:right;
   padding:5px 20px 0 0;
}

span.czerwony {
   color: red;
   font-size: 12.3px;
   font-weight:bold;
}

span.zielony {
   color: green;
   font-size: 12.3px;
   font-weight:bold;
}
